﻿@page "/password"
@*<div>
        <img src="../resources/images/insoly.jpg" alt="insoly">
    </div>*@


<div id="ChangePw">
    <form>
        <div>
            <div>
                <p id="pPr">Password retrieval</p>


                @if (SignupMODE)
                {
                    <p id="pPr2">Please enter the phone number or email that you used to sign in.</p>
                }
                else
                {
                    <p id="pPe2">Please check your email to reset your password.</p>
                }
            </div>
            @if (!SignupMODE)
            {
                <div>
                    <input id="PoE" ; type="text" placeholder="Phone or email">
                </div>
            }


        </div>
        @*@if (!SignupMODE) 
        {*@
            <div>
                <button type="button" @onclick="ChangeModeButton">Next</button>
            </div>
        @*}*@
            
        <div id="BtL">
            <div style="margin-top: 15px;">
                <a type="button" href="/">Back to login</a>
            </div>
        </div>
    </form>
</div>




@code
{

    bool SignupMODE = false;

    public void ChangeModeButton()
    {
        SignupMODE = !SignupMODE;
    }

}
