﻿@page "/counter"

<div class="top-row px-4">
    <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
</div>

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
    }
}
