﻿@page "/"

@using BlazorFirst.Bl.Data
@using Domain.Entities
@inject IndexService IndexService
@inject NavigationManager NavigationManager


<div>
    <img src="../resources/images/insoly.jpg" alt="insoly" id="Index_img">
</div>
<div id="Reg">
    <form>
        <div>
            <div>
                <input type="text" id="username" placeholder="Username" @oninput="@((e) => { CurrentUserName=(string)e.Value;})" />
            </div>
            <div>
                <input type="password" id="pass" placeholder="Password" @oninput="@((e) => { CurrentPassword=(string)e.Value;})">
            </div>
            @if (SignupMODE)
            {
                <div>
                    <input type="email" id="email" placeholder="Email">
                </div>
            }
        </div>
        <div>
            @if (SignupMODE)
            {
                <button type="button" id="SignUpButton">Sign in</button>
            }
            else
            {
               /* <button type="button" id="login" @onclick="LogInTask">Log in</button> */
            }
        </div>
        @if (!SignupMODE)
        {
            <div style="margin-top: 25px; margin-bottom: 25px">
                <a type="button" href="/password">Forgot your password?</a>
            </div>
        }
        else
        {
            <div>
                <button type="button" id="u_0_2" style="margin-bottom: 50px" @onclick="ChangeModeButton">Back to Log In</button>
            </div>
        }
    </form>
</div>
@if (!SignupMODE)
{
    <div id="Sign">
        <form>
            <div style="margin-top: 25px">
                <a type="button" id="u_0_2" @onclick="ChangeModeButton">Sign up</a>
            </div>
        </form>
    </div>
}


@code
{

    private string CurrentUserName { get; set; }

    private string CurrentPassword { get; set; }

    bool SignupMODE = false;

   
    public void ChangeModeButton()
    {
        SignupMODE = !SignupMODE;
    }

    
}
