﻿@page
@model InsolyWeb.Pages.AddPostModel
@{
}

<partial name="Shared/_Menu"/>

<style type="text/css">
    body {
        background-color: #f8f8f8;
    }

    .container {
        background-color: white;
        max-width: 700px;
        margin: auto;
        height: auto;
        margin-top: 70px;
        border-radius: 4px;
    }
    
    #posttext {
        width: 600px;
        height: 200px;
    }
        

</style>

<div id="Post">
    <div class="container">
        <div class="addimage">
            <form enctype="multipart/form-data" method="post">
                <p>
                    <input type="file" name="image">
                    <input type="submit" value="Save photo">
                </p>
            </form>
        </div>
        <div>
            <input id="posttext" align="center" placeholder="Post text" type="text">
        </div>
        <div>
            <button type="button" align="center" id="publish"> Publish </button>
        </div>
    </div>
</div>
