﻿@page
@model InsolyWeb.Pages.ForgotPassModel
@{
}

<div id="ChangePw">
    <form>
        <div>
            <div>
                <p id="pPr">Password retrieval</p>


                @if (Model.ChangeMode)
                {
                    <p id="pPr2">Please enter the phone number or email that you used to sign in.</p>
                }
                else
                {
                    <p id="pPe2">Please check your email to reset your password.</p>
                }
            </div>
            @if (!Model.ChangeMode)
            {
                <div>
                    <input id="PoE" ; type="text" placeholder="Phone or email">
                </div>
            }


        </div>
        <div>
            <button type="button" asp-page="./ForgotPass" asp-route-mode="create">Next</button>
        </div>

        <div id="BtL">
            <div style="margin-top: 15px;">
                <a type="button" href="/">Back to login</a>
            </div>
        </div>
    </form>
</div>
