﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <img src="../resources/images/insoly.jpg" alt="insoly" id="Index_img">
</div>
<div id="Reg">
    <form>
        <div>
            <div>
                <input type="text" id="username" placeholder="Username" />
            </div>
            <div>
                <input type="password" id="pass" placeholder="Password">
            </div>
            @if (Model.ChangeMode)
            {
                <div>
                    <input type="email" id="email" placeholder="Email">
                </div>
            }
        </div>
        <div>
            @if (Model.ChangeMode)
            {
                <button type="button" id="SignUpButton">Sign in</button>
            }
            else
            {
                /* <button type="button" id="login" @onclick="LogInTask">Log in</button> */
            }
        </div>
        @if (!Model.ChangeMode)
        {
            <div style="margin-top: 25px; margin-bottom: 25px">
                <a type="button" href="/ForgotPass">Forgot your password?</a>
            </div>
        }
        else
        {
            <div>
                <a type="button" id="u_0_2" style="margin-bottom: 50px" asp-page="./Index" asp-route-mode="log">Back to Log In</a>
            </div>
        }
    </form>
</div>
@if (!Model.ChangeMode)
{
    <div id="Sign">
        <form>
            <div style="margin-top: 25px">
                <a type="button" id="u_0_2" asp-page="./Index" asp-route-mode="create">Sign up</a>
            </div>
        </form>
    </div>
}
