﻿@page
@model InsolyWeb.Pages.MainModel
@{
}

<partial name="_Menu" />

<style type="text/css">
    body {
        background-color: #f8f8f8;
    }

    .container {
        background-color: white;
        max-width: 700px;
        margin: auto;
        height: auto;
        margin-top: 70px;
        border-radius: 4px;
    }

    #post {
        float: left;
        padding: 20px 20px 20px 20px
    }


    .post_header {
        padding: 15px 20px 0;
        position: relative;
        min-height: 50px;
        display: inline-block;
    }

    .post_image {
        float: left;
        cursor: pointer;
        display: block;
    }

    .post_header_info {
        margin-left: 20px;
        vertical-align: middle;
        display: inline-block;
        width: 400px;
        line-height: 16px;
    }
</style>

@foreach (var post in Model.Posts)
{
    <div class="container">
        <div class="post">
            <div class="post_header">
                <a class="post_image" href="/profile">
                    <img src="../resources/images/insoly.jpg" alt="insoly" style="width: 50px; height: 50px; border-radius: 100px;" align=left>
                </a>
                <div class="post_header_info">
                    <h5 class="post_autor">@post.AuthorName</h5>
                </div>
            </div>
            <div class="post_content">
                <h6>@post.Body</h6>
            </div>
        </div>
    </div>
}
