﻿@page
@model InsolyWeb.Pages.SearchModel
@{
}

<partial name="_Menu" />

<style type="text/css">
    body {
        background-color: #f8f8f8;
    }

    .container {
        background-color: white;
        max-width: 700px;
        margin: auto;
        height: auto;
        margin-top: 70px;
        border-radius: 4px;
    }

</style>

<div id="Search">
    <div class="container">
        <div>
            <br />  
            <p> Search from users by the nickname </p>
        </div>
        <div>
            <input id="search" ; type="text" placeholder="Enter the nickname" />
        </div>
        <div>
            <button id="searchB"> Search </button>
        </div>
    </div>
</div>