﻿<style>
    .menu {
        position: fixed;
        height: 50px;
        background: #67BBBD;
        width: 100%;
        top: 0;
        left: 0;
        box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
        transition: 1s;
        bottom:20px;
    }
        .menu:hover {
            height: 70px;
        }
        .menu nav {
            position: absolute;
            right: 0;
            margin-top: 1.5em;
            margin-right: 1.5em; /*изначальное положение посередине вертикально*/
            bottom: 200px; /*расположение изначальное*/
            transition: 0.5s; /*скорость выплывания*/
        }
        .menu:hover nav {
            bottom: 10%; /*вниз опускается меню*/
        }
        .menu nav ul { /*внещний вид текста*/
            text-transform: uppercase; /*тип шрифта*/
            list-style-type: none;
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        .menu nav li {
            line-height: 2em; /*растояние между a*/
            letter-spacing: 0.2em; /*растояни между буквами*/
            float: left; /*выравнивание на одну строчку*/
        }

        .menu nav a {
            font-size: 15px; /*высота букв*/
            color: white; /*цвет*/
            font-weight: 60; /*толщина букв*/
            display: block;
            color: white;
            text-align: center;
            padding: 10px 10px;
            text-decoration: none;
        }
            .menu nav a:hover {
                color: #f8f8f8;
            }
        .menu #logo {
            top: 7px;
            left: 45%;
            right: 55%;
            color: #f8f8f8;
            position: fixed;
            display: block;
            transition: 0.01s;
        }
            .menu #logo a {
                letter-spacing: 0.2em;
                font-size: 30px; /*высота букв*/
                color: white; /*цвет*/
                font-weight: 60;
            }
        .menu .logo:hover {
        }
</style>


<div class="menu">
    <div id="logo">
        <a>Insoly</a>
    </div>
    <nav>
        <ul>
            <li><a href="/search">Search</a></li>
            <li><a href="/addpost">New Post</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
</div>









        @*<div class="top-row pl-4 navbar navbar-dark">
                <a class="navbar-brand" href="">BlazorFirst.Bl</a>
                <button class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="counter">
                            <span class="oi oi-plus" aria-hidden="true"></span> Counter
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="fetchdata">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                        </NavLink>
                    </li>
                </ul>
            </div>*@

        @*@code {
            bool collapseNavMenu = true;

            string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

            void ToggleNavMenu()
            {
                collapseNavMenu = !collapseNavMenu;
            }
        }*@
