﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
#Reg {
    float: right;
    border-radius: 4px;
    background: #ffffff;
    width: 350px;
    position: absolute;
    left: 65%;
    margin: 120px 0 0 -210px;
    text-align: center;
}

#Sign {
    float: right;
    border-radius: 4px;
    background: #ffffff;
    width: 350px;
    height: 70px;
    position: absolute;
    left: 65%;
    margin: 480px 0 0 -210px;
    text-align: center;
}

input[type=text], input[type=password], input[type=email] {
    border-radius: 4px;
    width: 290px;
    padding: 15px;
    margin: 10px 5px 10px 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text] {
    margin-top: 50px;
}

button[type=button] {
    margin: 10px 5px 10px 10px;
    width: 290px;
    border-radius: 4px;
    background: #f1f1f1;
    border: none;
    display: inline-block;
    height: 50px;
}

a[type=button] {
    width: 100%;
    text-decoration: none;
    color: black;
}

#Index_img {
    width: 600px;
    margin: 130px 0 0 250px;
    right: 50%;
    position: absolute;
}

#ChangePw {
    float: right;
    border-radius: 4px;
    background: #ffffff;
    width: 400px;
    height: 500px;
    position: absolute;
    left: 50%;
    margin: 120px 0 0 -200px;
    text-align: center;
}

#PoE {
    margin-top: 30px;
}

#pPr {
    margin-top: 35px;
    font-size: 2em;
}

#pPr2 {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1em;
    margin-top: -5px
}

#BtL {
    position: absolute;
    bottom: 0;
    height: 55px;
    width: 100%;
    background: #f1f1f1;
}