@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f8f8f8;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
}

.main .top-row > a {
    margin-left: 1.5rem;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 0px;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }


    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

#Reg {
    float: right;
    border-radius: 4px;
    background: #ffffff;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 65%;
    margin: 120px 0 0 -210px;
    text-align: center;
}

#Sign {
    float: right;
    border-radius: 4px;
    background: #ffffff;
    width: 350px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 65%;
    margin: 480px 0 0 -210px;
    text-align: center;
}

input[type=text], input[type=password], input[type=email] {
    border-radius: 4px;
    width: 290px;
    padding: 15px;
    margin: 10px 5px 10px 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text] {
    margin-top: 50px;
}

button[type=button] {
    margin: 10px 5px 10px 10px;
    width: 290px;
    border-radius: 4px;
    background: #f1f1f1;
    border: none;
    display: inline-block;
    height: 50px;
}

a[type=button] {
    width: 100%;
    text-decoration: none;
    color: black;
}

#Index_img {
    width: 600px;
    margin: 130px 0 0 250px;
    position: absolute;
}

#ChangePw {
    float: right;
    border-radius: 4px;
    background: #ffffff;
    width: 400px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 120px 0 0 -200px;
    text-align: center;
}
#PoE {
    margin-top: 30px;
}
#pPr {
    margin-top: 35px;
    font-size: 2em;
}
#pPr2 {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1em;
    margin-top: -5px
}
#BtL {
    position: absolute;
    bottom: 0;
    height: 55px;
    width: 100%;
    background: #f1f1f1;
}
